<a href="https://colab.research.google.com/github/plaban1981/MI-Initiative/blob/master/Finding_number_of_values_in_the_series_falling_with_in_one_standard_deviation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How many values, in the below series, fall within one standard deviation of the mean?

In this question, you have to find the number of points that falls in the range within one standard deviation of the mean. So, you can first calculate the mean and the standard deviation of the given data. It comes out to be 181.25 and 64.65 respectively. Now, to calculate one standard deviation above means, you add the standard deviation to the mean once. So, when you add 64.65 (standard deviation) with 181.25 (mean), you approximately get 245, and to calculate one standard deviation below means, you subtract the standard deviation from the mean once. So, when you subtract 64.65 (standard deviation) from 181.25 (mean), you approximately get 117. Hence the range that we get is 117-245. Hence you need to count the numbers which are within this range. You have 11 numbers in this range, so your answer is 11

In [0]:
import numpy as np
sample = [180, 313, 101, 255, 202, 198, 109, 183, 181, 113, 171, 165, 318, 145, 131, 145, 226, 113, 268, 108]

In [0]:
np.mean(sample)

181.25

In [0]:
np.std(sample)

64.65514287355647

## First standard deviation

In [0]:
upp_range  = np.mean(sample) + np.std(sample)
low_range = np.mean(sample) - np.std(sample)

In [0]:
count = 0
for i in sample:
  if i >= low_range and i <= upp_range:
    count +=1
print(count)

11

## Hence there are 11 values, in the above  series, fall within one standard deviation of the mean